@media only screen and (max-width: $screen-1170) {
  
}

@media only screen and (max-width: $screen-md) {
  aside {
    width: 31%;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (max-width: $screen-sm) {
  aside {
    float: none;
    width: 70%;
    margin-top: 20px;
  }
}

@media only screen and (max-width: $screen-xs) {
  aside {
    width: 100%;
  }
}
