//Paths
$fonts_folder: "../../fonts";
$images_folder: '../../img/';

// Fonts
$Font-Light: "SourceSansPro-Light", sans-serif;
$Font-Regular: "SourceSansPro-Regular", sans-serif;
$Font-SemiBold: "SourceSansPro-SemiBold", sans-serif;
$Font-SemiBold-It: "SourceSansPro-SemiBoldItalic", sans-serif;
$Font-Bold: "SourceSansPro-Bold", sans-serif;
$Font-Bold-It: "SourceSansPro-BoldItalic", sans-serif;
$Font-Italic: "SourceSansPro-Italic", sans-serif;
$Font-Otama: "Otama-ep", sans-serif;

// Colors
$white: #ffffff;
$project-main: #454452;
$project-dark-brown: #c8a99b;
$project-main-brown: #dac1b6;
$project-lighter-brown: #ffe9df;

//Screens
$screen-lg: 1439px;
$screen-1170: 1170px;
$screen-md: 1023px;
$screen-sm: 767px;
$screen-xs: 499px;
