$icon-menu: "\e907";
$icon-heart-o: "\e905";
$icon-eye: "\e906";
$icon-comment: "\e901";
$icon-share: "\e908";
$icon-facebook: "\e903";
$icon-twitter: "\e902";
$icon-pinterest-p: "\e904";
$icon-instagram: "\e900";
$icon-search: "\e909";
